<h2>Elección sellada correctamente</h2>

<h3>Directiva</h3>
<p>Total votos: <%= council.totalVotes %></p>
<p>Hash global:</p>
<pre><%= council.globalHash %></pre>

<h3>Fiscales</h3>
<p>Total votos: <%= fiscal.totalVotes %></p>
<p>Hash global:</p>
<pre><%= fiscal.globalHash %></pre>

<p>Publica estos hashes inmediatamente en el grupo oficial.</p>
